

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "End";
}

    <div class="container">
        <div>Started</div>
        <div>@ViewBag.StartTime</div>
        <div>Ended</div>
        <div>@ViewBag.EndTime</div>
        <br />
        <div>Current Total: @ViewBag.Current</div>
        <div>Total: @ViewBag.Total</div>
        <button type="button" class="btn btn-primary btn-dark" asp-controller="Home" asp-action="Start">Start</button>
        <button type="button" class="btn btn-primary btn-dark" asp-controller="Home" asp-action="End">End</button>

    </div>

