@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="">


    <section class="text-center border-dark border">

        <div>Started</div>

        <div>@(ViewBag.StartTime ?? "00:00.00")</div>

        <div>Ended</div>

        <div>@(ViewBag.EndTime ?? "00:00.00")</div>

        <div>Current Total: @ViewBag.Current</div>

        <div>Total: @ViewBag.Total</div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Mud</a>
                    <a class="dropdown-item" href="#">Personal Project</a>
                    <a class="dropdown-item" href="#">Azure Labs</a>
                </div>
            </div>

    </section>



    <div class="m-3 text-center">
        <a class="btn-lg btn-primary" asp-controller="Home" asp-action="Start">Start</a>

        <a class="btn-lg btn-danger" asp-controller="Home" asp-action="End">End</a>
    </div>
</div>