
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <partial name="_LoginPartial" />
        <br />
        <div>Started</div>
        <div>@ViewBag.Start</div>
        <div>Ended</div>
        <div>@ViewBag.End</div>
        <br />
        <div>Current Total: @ViewBag.Current</div>
        <div>Total: @ViewBag.Total</div>
        <div class="btn-outline-primary"><a asp-controller="Home" asp-action="Start">Start</a></div>
        <div class="btn-outline-primary"><a asp-controller="Home" asp-action="End">End</a></div>
    </div>

