@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div>Started</div>
        <div>@ViewBag.Start</div>
        <div>Ended</div>
        <div>@ViewBag.End</div>
        <div class="btn-outline-primary" asp-action="Start">Start</div>
        <div class="btn-outline-primary" asp-action="End">End</div>
    </div>

